* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: hsl(217, 19%, 35%);
  --muted-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--light-blue);
  font-family: "Manrope", sans-serif;
  height: 100vh;
  font-size: 13px;
}

.drawers {
  border-radius: 40px 0 0 40px;
  height: 370px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1 {
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

article {
  color: var(--muted-blue);
  size: 13px;
  line-height: 1.8;
}

.name {
  color: var(--dark-blue);
  font-weight: 700;
  size: 16px;
}

.avatar {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.date {
  color: var(--gray-blue);
  size: 13px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.author {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.arrow:hover {
  content: url("images/new_arrow.svg");
}

.share {
  color: var(--gray-blue);
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  background-color: var(--dark-blue);
  border-radius: 10px;
  gap: 16px;
  padding: 16px 24px;
  box-shadow: rgba(149, 157, 165, 0.6) 4px 8px 24px;
}

.hide {
  visibility: hidden;
}

.shape {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 65%;
  top: 52%;
  z-index: 10;
}

.icon {
  width: 24px;
  height: 24px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: white;
  padding: 40px 40px;
  width: 380px;
  min-width: 380px;
  border-radius: 0 20px 20px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.attribution {
  color: rgb(141, 140, 141);
  size: 10px;
  padding: 40px;
  text-align: center;
}

/* mobile */

.drawers2 {
  border-radius: 40px 40px 0px 0px;
  width: 80vw;
  height: 300px;
  object-fit: cover;
}

.h1-mobile {
  font-size: 18px;
}

.description2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: white;
  padding: 40px 40px;
  margin-top: -6px;
  width: 80vw;
  min-width: 80vw;
  border-radius: 0 0 20px 20px;
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mobile-social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  border-radius: 0 0 20px 20px;
  gap: 16px;
  padding: 16px 0;
}

.arrow2 {
  padding-left: 30px;
  width: 60px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  main {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .card {
    display: none;
  }
}
